<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <!-- Mensaje de Error en caso que exista -->
        @if (!string.IsNullOrEmpty(ViewBag.Error))
        {
            <div class="alert alert-warning">
                @ViewBag.Error
            </div>
        }
        else
        {
            <h2>Error al procesar la solicitud.</h2>
        }
    </hgroup>
</body>
</html>
