@model SC601_V1.Models.UsuarioModel

@{
    ViewBag.Title = "RegistrarUsuario";
    Layout = "~/Views/Shared/_Layout_Externo.cshtml";
}

<div class="row justify-content-center">
    <div class="col-lg-7">

        <div class="card shadow-lg border-0 rounded-lg mt-5">
            <div class="card-header"><h3 class="text-center font-weight-light my-4">Create Account</h3></div>
            <div class="card-body">
                <form>
                    <!-- Input Nombre -->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="inputNombre" type="text" placeholder="Ingrese nombre completo" />
                        <label for="inputNombre">Nombre completo</label>
                    </div>

                    <!-- Input Correo -->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="inputEmail" type="email" placeholder="nombre@ejemplo.com" />
                        <label for="inputEmail">Correo Electrónico</label>
                    </div>

                    <!-- Input Contraseña -->
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <div class="form-floating mb-3 mb-md-0">
                                <input class="form-control" id="inputPassword" type="password" placeholder="Crear una contraseña" />
                                <label for="inputPassword">Contraseña</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating mb-3 mb-md-0">
                                <input class="form-control" id="inputPasswordConfirm" type="password" placeholder="Confirmar contraseña" />
                                <label for="inputPasswordConfirm">Confirmar Contraseña</label>
                            </div>
                        </div>
                    </div>

                    <!-- Input Telefono -->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="inputTelefono" type="tel" placeholder="8888-8888" />
                        <label for="inputTelefono">Teléfono</label>
                    </div>

                    <div class="mt-4 mb-0">
                        <div class="d-grid"><a class="btn btn-primary btn-block" href="@Url.Action("CrearUsuario", "Usuario")">Crear Cuenta</a></div>
                    </div>
                </form>
            </div>
            <div class="card-footer text-center py-3">
                <div class="small"><a href="@Url.Action("IniciarSesion", "Usuario")">¿Tienes una cuenta? Inicia Sesión</a></div>
            </div>
        </div>
    </div>
</div>
