@model SC601_V1.Models.ProductoModel

@{
    ViewBag.Title = "Home Page";
}

<!-- Start Hero Section -->
<div class="hero">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="intro-excerpt">
                    <h1>Encarga Tus <span class="d-block">Flores Favoritas</span></h1>
                    <p class="mb-4">
                        Le ofrecemos todo en arreglos florales y decoración para el hogar. Realice su pedido y nosotros nos encargamos del resto.
                    </p>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="hero-img-wrap">
                    <img src="~/Imagenes/Shared/flowers-9.png" class="img-fluid" alt="flowers Image" width="720">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- End Hero Section -->
<!-- Start Why Choose Us Section -->
<div class="why-choose-section">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-6">
                <h2 class="section-title">¿Por Qué Elegirnos?</h2>
                <p>Somos una floristería con más de 5 años de experiencia donde siempre buscamos dar el mejor servicio a todos nuestros clientes.</p>

                <div class="row my-5">
                    <div class="col-6 col-md-6">
                        <div class="feature">
                            <div>
                                <img src="~/Imagenes/Shared/flowers-1.png" alt="Image" class="imf-fluid">
                            </div>
                            <h3>Rapidez &amp; Facilidad de envio</h3>
                            <p>Realizamos envíos el mismo día de la compra de su arreglo y se lo enviamos a donde usted desee.</p>
                        </div>
                    </div>

                    <div class="col-6 col-md-6">
                        <div class="feature">
                            <div>
                                <img src="~/Imagenes/Shared/flowers-2.png" alt="Image" class="imf-fluid">
                            </div>
                            <h3>Facil de comprar</h3>
                            <p>Nuestra página ofrece opciones muy fáciles de acceso y registro para todos ustedes.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-5">
                <div class="img-wrap">
                    <img src="~/Imagenes/Shared/floristeria.png" alt="Image" class="img-fluid">
                </div>
            </div>

        </div>
    </div>
</div>
<!-- End Why Choose Us Section -->